# deps
node_modules/

# builds & binaries
dist/
.expo/
web-build/
*.apk

# env / secrets
.env
*.env.local

# logs
*.log
npm-debug.*

# os
.DS_Store
Thumbs.db

# prisma
backend/prisma/*.db

# IDE
.idea/
.claude/
*.iml

# misc junk
*.docx
*.zip
wrangler.toml
